<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>launchd.kindle.daemon</string>

    <!-- Optional key to run the command at a specified time
    Currently set to run every day at 6:00PM based on your local machine time -->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>18</integer>
        <key>Minute</key>
        <integer>00</integer>
    </dict>

    <!-- Optional key to run the command when you bootstrap, in addition to the scheduled time -->
    <key>RunAtLoad</key>
    <true/>
   
    <!-- Input the file path where you want the error log to be saved
    Example: <string>/Users/john/morning_highlights/stderr.log</string> -->
    <key>StandardErrorPath</key>
    <string>{insert file path here}</string>

    <!-- Input the file path where you want the output log to be saved
    Example: <string>/Users/john/morning_highlights/stderr.log</string> -->
    <key>StandardOutPath</key>
    <string>{insert file path here}</string>

    <key>ProgramArguments</key>
    <array>
        <!-- A command to run your Python script -->
        <!-- Param 1: Path to your Python intepreter (run 'which python' in the terminal) -->
        <!-- Param 2: Path to your Python script (right-click on main.py + option + copy as pathname) -->
        <string>{insert path to your Python interpreter here}</string>
        <string>{insert path to your Python script here}</string>
    </array>

  </dict>
</plist>
